<link rel="stylesheet" href="/styles.css">

<nav class="navbar">
    <a class="navbar-title" href="/"><img src="/images/WLogo_(transparent_background).png" alt="WLogo" class="logo"><img src="/images/CeramicsLOGO.png" alt="CeramicsLogo" class="Clogo">
    </a>
    
<div class="nav-button-group">
 
        
    <p><a href="/gallery" class="nav-button">GALLERY</a></p>
    
    <p><a href="/glazes" class="nav-button">GLAZES</a></p>
    
    <p><a href="/account" class="nav-button">MY ART</a></p>
    
</div>
    
    
</nav>