<div class="glaze-popup-content">
  <span class="close">&times;</span>
  <img class="glaze-popup-image" src="/images/<%= glazePost.imageFile %>" alt="">
  <h2><%= glazePost.title %></h2>
  <p><%= glazePost.notes %></p>
</div>
