<!DOCTYPE html> 
<html lang="en"> 
<head>
  <meta charset="UTF-8">
  <title>Westridge Ceramics</title>
  <link rel="stylesheet" href="styles.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/297392fead.js" crossorigin="anonymous"></script>
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Concert+One&family=Kumbh+Sans:wght,YOPQ@100..900,116&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Shrikhand&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
  </style>
</head>
<body class="body"> 
  
  <%- include('partials/navbar') %> 

  <div class="home-top">
    <h2 class="home-title">Westridge Upper School Ceramics</h2>
    
    <div class="home-button-group">
      <p><a href="/gallery" class="page-button">Browse Gallery</a></p>

      <p><a href="/glazes" class="page-button">Browse Glazes</a></p>
    </div>
    <br>
  </div>
  <br>
  <div class="class-section">
    <h2 class="class-title-name">CERAMICS I</h2>
    <p class="class-description">GRADES 9-12<br>
    This course includes elements of design and composition through the coil construction of large-scale vessels or nonutilitarian forms. Emphasis is placed on surface design, utilizing carving, bas relief, and glaze. In the second semester, project assignments involve new concepts, increased Ceramics I skills, and a wider range of surface treatment including color and texture. The class format includes studio activity, lectures, demonstrations, discussions, and group critiques.</p>
  </div>
  <div class="class-section">
    <h2 class="class-title-name">CLAY DESIGN & ENGINEERING I</h2>
    <p class="class-description">GRADES 9-12<br>This art course develops the engineering and design skills needed to work with clay on the Potter’s Wheel. Wedging and centering are learned, followed by practicing throwing techniques, such as creating cylindrical forms. Various utilitarian vessel shapes are designed to be both functional and to convey ideas, themes, and concepts. These forms are investigated through emphasizing mass, proportion, texture, contrast and color. The class format includes studio activity, lecture, demonstrations, discussion, and group critiques.</p>
  </div>
  <div class="class-section">
    <h2 class="class-title-name">CLAY DESIGN & ENGINEERING II</h2>
    <p class="class-description">GRADES 10-12<br>This course further develops throwing skills and investigates new ways of using them. Increased scale of the forms, innovative surface treatment, form alteration/distortion, and inventive use of appendages are emphasized. Artwork may be used to build a portfolio for college application purposes.</p>
  </div>
  <br>
  <br>
  <br>
  <br>
  
  
  
</body>
</html>
