<!DOCTYPE html> 
<html lang="en"> 
<head>
  <meta charset="UTF-8">
  <title>Westridge Ceramics</title>
  <link rel="stylesheet" href="styles.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/297392fead.js" crossorigin="anonymous"></script>
    
</head>
<body class="body">
  
  <%- include('partials/navbar') %> 

  <div class="page-top">
    <h2 class="page-title">Join Course</h2>
  </div>
  
  <a href="/account" class="back-button"><i class="fa-solid fa-chevron-left"></i></a>
  
  <% if (flashMessages) { %>
      <p class="flash-message"><%= JSON.stringify(flashMessages)  %></p>
    <% } %>
  
  <h1 class="subtitle">Join Course</h1>
  
  <form id="join-course" action="/join-course" method="post" class="course-form">

   <div>
      <label class="login-label" for="code">Class Code:</label>
      <input class="login-input" type="text" id="code" name="code" required>
    </div>
    
      <input type="submit" class="submit-button" value="Join">
 </form>
   

  <script src="script.js"></script>
  
</body>
</html>
