<!DOCTYPE html>
<html>
<head>
    <title>Westridge Ceramics</title>
    <link rel="stylesheet" href="styles.css">

</head>
<body class="body">

<body class="body">
  
  <%- include('partials/navbar') %>  

  <div class="page-top">
    <h2 class="page-title">Account</h2>
    
    <p><a href="/logout" class="logout-button">Log Out</a></p>
  </div>
 <div class="login-container">
  <h1 class="login-title">Login</h1>
  <form action="/login" method="POST" class="login-form">
    <div>
      <label class="login-label" for="email">Email:</label>
      <input class="login-input" type="text" id="email" name="username" required>
    </div>
    <div>
      <label class="login-label" for="password">Password:</label>
      
      <input class="login-input" type="password" id="password" name="password" required>
    </div>
    <button class="submit-button" type="submit">Login</button>
  </form>
   <br>
   <p class="login-text">Don't have an account? <a href="/register" class="register">Register here</a></p>
  </div>
</body>
</html>
